#contact form{
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.right h1 {
    font-size: 3rem;
    margin: 2rem;
    background-color: rgb(44, 44, 44);
    color: white;
    /* max-width: max-content; */
    padding: 1rem;
}

.reach-me h2 {
    margin: 0;
    padding-left: 0;
}

.reach-me p{
    font-size: 16px;
    /* color: rgb(255, 196, 0) */
}

form div {
    display: flex;
    flex-direction: column;
}

/* form label {
    background-color: black;
    padding: 1rem;
    color: white;
    max-width: 100px;
} */

.status {
    /* margin: 2rem; */
    background-color: rgb(255, 196, 0);
    /* padding: 1rem; */
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
}

form label {
    font-size: 16px;
    margin-bottom: 5px;
}

form input, form textarea {
    border: 2px solid rgb(44, 44, 44);
    font-size: 16px;
    padding: 1rem;
    border-radius: 5px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

form textarea {
    height: 250px;
    resize: none;
}

form button {
    width: 500px;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 1rem;
    border-radius: 5px;
}

.reach-me {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 600px) {
    form input, form textarea, form button {
        width: 100%;
    }
}